:root {
    --red-color: hsl(0, 78%, 62%);
    --cyan-color: hsl(180, 62%, 55%);
    --orange-color: hsl(34, 97%, 64%);
    --blue-color: hsl(212, 86%, 64%);
    --very-dark-blue-color: hsl(234, 12%, 34%);
    --grayish-blue-color: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --shadow-color: hsl(213, 47%, 67%, 50%);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 85px 32px;
}

/*Header element styling*/

header {
    text-align: center;
    margin-bottom: 5.07rem;
}

header h1 {
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-size: 1.6rem;
    letter-spacing: 0.17px;
    font-weight: 600;
    text-align: center;
}

header h1 > span:first-child {
    color: var(--very-dark-blue-color);
    font-weight: 200;
}

header p {
    line-height: 1.6rem;
    letter-spacing: 0.1px;
    color: var(--very-dark-blue-color);
    font-weight: 200;
    padding-top: 16px;
}

/* Main data, sections styling */

main {
    display: grid;   
    grid-template-areas: 
    "supervisor"
    "team-builder"
    "karma"
    "calculator"; 
    gap: 1.7rem;
}

.supervisor {
    grid-area: supervisor;
    border-top-color: var(--cyan-color);
}

.team-builder {
    grid-area: team-builder;
    border-top-color: var(--red-color);
}

.karma {
    grid-area: karma;
    border-top-color: var(--orange-color);
}

.calculator {
    grid-area: calculator;
    border-top-color: var(--blue-color);
}

main section {
    padding: 28px;
    border-radius: 8px;
    box-shadow: 0px 15px 30px -11px var(--shadow-color); 
    border-top: 3.55px solid;  
}

main section h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
}

main section p {
    font-size: 13px;
    font-weight: 200;
    line-height: 23px;
    letter-spacing: 0.09px;
    color: var(--very-dark-blue-color);
    padding-bottom: 33px;
}

main section div {
    text-align: right;
    width: 100%;    
}

main section div img {
    width: 57px;
    height: 57px;
}


/*
    Media Queries for responsiveness
*/

@media only screen and (min-width: 1100px) {
    body {
        padding: 80px 165px;
    }

    header {
        margin-bottom: 61px;
    }

    header h1 {
        gap: 0px;
        font-size: 36px;
        letter-spacing: 0.25px;
    }
    
    header p {
        line-height: 25px;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 33px;
        grid-template-areas: 
        ".team-builder."
        "supervisor team-builder calculator"
        "supervisor karma        calculator"
        ".karma.";
    }

    main section {
        padding: 32px;
    }

    main section p {
        padding-top: 6px;
        padding-bottom: 33px;
    }
    
    main section div img {
        width: 64px;
        height: 64px;
    }
}